.card {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: px;
}

.card a {
    text-decoration: none;
    color: #337ab7;
}



.card h1 {
    font-size: 24px;
    margin-top: 0;
}

.card p {
    font-size: 18px;
    color: #666;
}
