.card {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: px;
}

.card a {
    text-decoration: none;
    color: #337ab7;
}



/*.card h1 {
    font-size: 24px;
    margin-top: 0;
}*/

.card p {
    font-size: 18px;
    color: #666;
}
body {
  background-color: #f3f4f6;
  font-family: 'Poppins', sans-serif;
  display: flex;
  min-height: 100vh;
  margin: 0;
}

/*.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 25px 30px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}*/

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card h1 {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 6px;
  margin: 8px 0;
}

.card h1:first-child {
  font-weight: 700;
  font-size: 18px;
  color: #0078ff;
}

.card h1 span {
  color: #555;
  font-weight: 400;
}

button {
  background-color: #1565c0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0d47a1;
}
